html {
    font-size: 62.5%;
    font-family: 'Open Sans' , sans-serif;
}

body {
    display: grid;
    grid-template-areas: "header header"
                         "image info"
                         "social social";
    grid-template-columns: repeat(2, 1fr);
    background: url('../images/bg-desktop.svg') hsl(257, 40%, 49%) center center no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    width: 250px;
    margin: 50px 0;
}

.header img {
    width: 100%;
}

.image {
    grid-area: image;
    width: 800px;
}

.image img {
    width: 100%;
}

.info {
    grid-area: info;
    color: #fff;
    width: 520px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info .title {
    font-family: 'Poppins' , sans-serif;
    font-weight: 600;
    font-size: 4.2rem;
}

.info p {
    font-weight: 300;
    line-height: 30px;
    font-size: 1.8rem;
}

.info .btn-register {
    font-size: 1.8rem;
    padding: 13px;
    width: 210px;
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    box-shadow: 3px 3px 15px 5px hsl(257, 40%, 40%);
    border-radius: 50px;
    text-align: center;
    transition: .3s ease-in-out;
}

.info .btn-register:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.social-media {
    grid-area: social;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    gap: 15px;
}

.social-media a {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 50%;
    transition: .3s;
}

.social-media a:hover {
    color: hsl(300, 69%, 71%);
    border: solid 1px hsl(300, 69%, 71%);
}